/* common css */
*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  width: 960px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* end common css */


.sky-content {
  min-height: 400px;
  background: #73c7d1;
}

.banner {
  background: #fff;
}
.banner .container {
  position: relative;
}
.banner .container .follow-us{
  position: absolute;
  top: 0;
  right: 0;
}
.topbar {
  background: none;
  border-top: 10px solid #546770;
}
.kid-bg {
  min-height: 415px;
  background: url(../images/banners/kid.jpg) no-repeat;
}

ul.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: -67px;
}
ul.nav li {
  float: left;
  position: relative;
}

ul.nav li a {
  position: absolute;
  top: 27px;
  right: 97px;
  font-size: 18px;
  color: white;
}

ul.nav li img {
  height: 72px;
  width: 240px;
  display: block;
}



.content {
  min-height: 550px;
}
footer {
  background: #546770;
  height: 100px;
}
